{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
<p>
  第一基板成功!

  <div class="container" style="margin-top:30px;">
  <ol class="breadcrumb">
    <li><a href="https://www.youtube.com/channel/UCa7Naf5hdpk77M6OmgTdt3A">Yufan Zheng教學網</a></li>
  <li><a href="https://acupun.site/lecture/django/index.htm#chp5">陳擎文教學網</a></li>
  <li><a href="https://www.odoo.com/zh_TW/app/elearning">Odoo</a></li>
	<li><a href="http://tw.gitbook.net/sqlite/sqlite_operators.html">sqlite3</a></li>
    <li><a href=" https://newhouse.591.com.tw">591網</a></li>
    <li><a href="https://news.housefun.com.tw/">好房網</a></li>
    <li><a href="https://news.google.com/">google新聞</a></li>
    <li><a href="https://learn-anything.xyz/">LearnAnything</a></li>
    <li><a href="https://www.industry-incentive.taipei/">台北市產業獎勵</a></li>
    <li><a href="https://www.youtube.com/watch?v=tSJg6YDUEAc">吳清輝</a></li>
    <li><a href="https://webpac.tphcc.gov.tw/webpac/search.cfm">新北市圖書館查詢</a></li>
    <li><a href="https://book.tpml.edu.tw/webpac/webpacIndex.jsp">台北市圖書館查詢</a></li>

    <li><a href="https://www.fg-plan.com.tw/p/blog-page_38.html">代寫企劃</a></li>
  </ol>
  <p><a  link href="/things">分享物品登錄</a></p>
    <p><a  link href="/things_histories_db">表達您想要某物品</a></p>
    <li><p><a link href="/mainlogin">使用者登錄</a></p></li>
<p><a   href="/member_form" >使用者資料登錄建檔</a></p>
<p><a  link href="/loaddb" >瀏覽分享物品目錄</a></p>

<ol class="breadcrumb">
    <li><a href="http://www.citc.org.tw/weekly/weekly_biblereading/舊約/weeklynews_bible_reading_OT.html"Target="TargetWin">讀經示範</a></li>
  </ol>
  <ol class="breadcrumb">
    <li><a href="https://www.cathaylife.com.tw/cathaylife/contact-index/info/contact"Target="TargetWin">國泰人壽</a></li>
    <li><a href="https://www.runoob.com/"Target="TargetWin">bootstrap3</a></li>
    <li><a href="https://www.twcode01.com/bootstrap/bootstrap-environment-setup.html"Target="TargetWin">bootstrap3教學</a></li>
    <li><a href="https://cart.books.com.tw/member/logout?loc=customer_004"Target="TargetWin">博客來書店</a></li>
    <li><a href="http://localhost:8888/notebooks/20210108.ipynb"Target="TargetWin">jupternobook</a></li>
    <li><a href="http://localhost:5000/templates/suportdata.html"Target="TargetWin">suportdata</a></li>
  </ol>

  </ol>
  </div>
</p> 
<p><h3>標籤顏色樣式展示:</h3></p>
<span class="Label label-default">檔的資訊 </span>
<span class="Label label-primary">檔的資訊 </span>
<span class="Label label-success">檔的資訊 </span>
<span class="Label label-info">檔的資訊 </span>
<span class="Label label-warning">檔的資訊 </span>
<span class="Label label-Danger">檔的資訊 </span>
  <h2><p>fffff#這裡以上是BASE.HTML檔的資訊,以下則是INDEX_t.HTML或event_managet或guest_manage檔的資訊</p></h2>
{% block content %}{% endblock content %}