
<p >我想要留言資料網頁</p>
<p>請輸入您的聯絡資料</p>



<body style="background-color: white">
     <form method="post" action="/iwantdb">
         <input type="String" placeholder="請輸入物品編號:" name="物品編號">
         <input type="String" placeholder="請輸入姓名:" name="name">
         <input type="String" placeholder="請輸入email:" name="email">
         <input type="String" placeholder="請輸入phone:" name="phone">
         <input type="text" placeholder="請輸入需要原因:" name="原由">
         <!--now() type="DateTime"  name="date">-->
         <p>要自動帶入系統日期</p>
         <button type="submit">Submit</button>
     </form>

</body>
